<?xml version="1.0" encoding="UTF-8"?>
<OSC>
<Settings>
<SAPDataFile>E:/FTPROOT/FTPOSCDEV/Customer</SAPDataFile>
<LogStore>E:/BatchIntegration/FileStore/LogStore</LogStore>
<DataStore>E:/BatchIntegration/FileStore/DataStore</DataStore>
<DataStoreArchiveLimitInDays>90</DataStoreArchiveLimitInDays>
<numberOfRetry>4</numberOfRetry>
<MappingFile>./files/mapping.csv</MappingFile>
<LoginId>kajal@suvitech.com</LoginId>
<Password>Welcome@1</Password>
<ShipToURL>https://cbsp-test.crm.ap1.oraclecloud.com/crmCommonApi/resources/latest/ShipTo_c</ShipToURL>
<AccountURL>https://cbsp-test.crm.ap1.oraclecloud.com/crmCommonApi/resources/latest/accounts</AccountURL>
<BusinessURL>https://cbsp-test.crm.ap1.oraclecloud.com/crmCommonApi/resources/latest/Business_c</BusinessURL>
<SMTPURL>smtp.gmail.com</SMTPURL>
<SMTPPort>465</SMTPPort>
<SMTPUserName>freshgravityapi@gmail.com</SMTPUserName>
<SMTPPassword>freshgravityds</SMTPPassword>
<notificationReceiver>abhishek.vijayvargia@freshgravity.com</notificationReceiver>
</Settings>
</OSC>